---
interface props {
  text: string;
  link: string;
  icon?: string;
}

const { text, link, icon } = Astro.props as props;
---

<div class="flex">
  {icon && <img src={icon} />}
  <li class="list-none"><a href={link}>{text}</a></li>
</div>
