---
import List from "../components/List.astro";
---

<div
  class="flex items-center justify-center gap-[8vw] h-[40vh] bg-[#292929] rounded-md w-[50vw] shadow-lg"
>
  <div>
    <List text="Github" link="https://github.com/" />
    <List text="Gmail" link="https://github.com/" />
    <List
      text="Google Chat"
      link="https://mail.google.com/chat/u/1/#chat/home"
    />
  </div>

  <div>
    <List text="Figma" link="https://github.com/" />
    <List text="TBA" link="https://github.com/" />
    <List text="TBA" link="https://mail.google.com/chat/u/1/#chat/home" />
  </div>
</div>
